@use '../helpers/_geometry.module' as geo;
@use '../helpers/text.module' as text;

.chess__wrapper {
	@include geo.adjust-page-layout();
	background-color: antiquewhite;
	gap: 50px;

	.board__wrapper {
		flex-basis: 50%;

		.board__figures {
			@include geo.grid-repeat-columns(8, 1fr);
			background: repeating-conic-gradient(
					rgb(64, 63, 67) 0 90deg,
					rgb(226, 227, 225) 0 180deg
				)
				0 0 / calc(100% / 4) calc(100% / 4);

			border: 3px solid black;

			.square__icon {
				height: 10vh;
				width: 5vw;
				border: none;
				box-sizing: border-box;
				transform: translate(0, 0);
			}
			.square__icon_selected {
				background-color: none;
				opacity: 0;
			}
			.square__icon_target {
				background-color: rgb(236, 236, 172);
				opacity: 0.5;
			}
		}
	}
}
