@mixin flex(
	$direction: row,
	$content-align: '',
	$item-align: '',
	$gap: 0,
	$wrap: ''
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content-align;
	align-items: $item-align;
	gap: $gap;
	flex-wrap: $wrap;
}

@mixin grid-repeat-columns(
	$pieces,
	$size,
	$content-align: '',
	$item-align: '',
	$gap: 0
) {
	display: grid;
	justify-content: $content-align;
	align-items: $item-align;
	grid-template-columns: repeat($pieces, $size);
	gap: $gap;
}