@mixin adjust-nav-link() {
	display: block;
	color: black;
	height: 100%;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;

	&:hover {
		color: blue;
		background-color: seashell;
	}
}

@mixin adjust-text($size, $style: 400, $align: center) {
	font-size: $size;
	font-weight: $style;
	text-align: $align;
}

@mixin format-link($color: black) {
	text-decoration: none;
	color: $color;
	&:visited {
		color: $color;
	}
}