@use '../../styles/_geometry.module' as geo;
@use '../../styles//text.module' as text;

.header__wrapper {
	height: 8vh;
	position: sticky;
	top: 0;
	width: 90%;
	margin: 0 auto;
	background-color: whitesmoke;
    @include geo.flex($content-align: center, $item-align: center);

	.header__list {
		width: 100%;
		height: 100%;
		@include geo.flex(
			$content-align: center,
			$item-align: center,
			$gap: 20px
		);

		.header__list_item {
			.header__list_nav {
				@include text.adjust-nav-link();
			}
		}
	}
}
