.footer__wrapper {
	position: relative;
	bottom: 0;
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;

	.footer__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.footer__arrow {
			font-size: 30px;
		}

		.footer__list {
			font-size: 20px;
		}
	}
}
