@use '../../styles/_geometry.module' as geo;
@use '../../styles//text.module' as text;

.login__wrapper {
	width: 90%;
	margin: 0 auto;
	background-color: antiquewhite;
	min-height: 80vh;
	@include geo.flex($content-align: center, $item-align: center);

	.login__form {
		@include geo.flex(
			$direction: column,
			$content-align: center,
			$item-align: center,
			$gap: 10px
		);
		.login__form_input {
			width: 100%;
			padding: 5px 10px;
			@include text.adjust-text($size: 16px);
			border-radius: 5px;
		}
		.login__form_error {
			@include text.adjust-text($size: 16px);
			color: red;
		}

		.login__form_button {
			width: 110%;
			padding: 5px 10px;
			border: 1px solid black;
			border-radius: 5px;
			@include text.adjust-text($size: 16px);
		}
		.login__form_sub {
			@include geo.flex(
				$content-align: center,
				$item-align: center,
				$gap: 10px
			);
			.login__form_link {
				@include text.format-link($color: red);
			}
		}
	}
}
